
.grid {
    display: grid;
}

.grid.flow-column {
    grid-auto-flow: column;
}

.grid.align-center {
    align-items: center;
}

.grid.space-between {
    justify-content: space-between;
}

/* flex helpers  */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.hidden {
    display: none;
    z-index: -1;
}

.blocked {
    display: none;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  