.about {
    background-color: white;
    justify-content: center;
    align-content: center;
    height: 570px;
}

.about h2 {
    margin: 0;
    font-size: 1.78571em;
    font-weight: bold;
}

.about p{
    font-size: 1.4285714em;
}

.about img {
    width: 320px;
    border-radius: 50%;
    grid-column: 1;
}