
.editor {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-auto-columns: 1fr 1fr;
    gap: 140px;
}



.icon {
    width: 63px;
    height: 63px;
    background-color: white;
    border-radius: 10%;
}

.icon img {
    width: 80%;
    align-self: center;
    justify-self: center;
}
#text {
    border-radius: 10%;
    font-size: 1.42857em;
}

.first-row {
    align-items: center;
    justify-content: space-between;
}

.second-row {
    justify-content: space-between;
    align-content: end;
}

.third-row {
    justify-content: space-between; 
    align-content: center;
}

#font {
    width: 180px;
}
