.main-footer {
    background-color: var(--primary-1);
    padding: 50px 0;
    color: white;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

footer .logo {
    font-size: 3em;
    font-weight: bold;
}

footer h2 {
    font-size: 1.5em;

}

footer .rights {
    margin-top: 15px;
}