.main-header {
    background-color: var(--primary-1);
    height: 69px;
    position: relative;
    font-size: 1.357142em;
    color: white;
}

.main-header h1 {
    margin: 0;
}

.main-header .main-nav-list a {
    text-decoration: none;
    color: inherit;
}



.main-header .main-nav a {
    margin-right: 50px;
    min-width: 130px;
    transition: box-shadow 0.2s;
    font-size: 1.5em;
}

/* .main-header .main-nav li:first-child {
    border-inline-end: 2px solid black;
} */

.logo {
    margin-left: 50px;
    font-size: 3em;
    font-weight: bold;
}

.main-header .main-nav a:hover {
    box-shadow: inset 0px -2px 0 white;
}