

.search-bar {
    background-color: white;
    height: 100px;
}

.search-bar button {
    border: none;
    background-color: none;
    margin-left: 1em;
    font-size: 2em;
}

#filter {
    margin-left: 50px;
    width: 260px;
    border: none;
    font-size: 2em;
    border-bottom: solid 2px black;
}

